 
html{
    scroll-behavior: smooth;
    scroll-padding-top: 81px;
}
.navbar-brand img{
    width: 50px;
}
.main{
    background-image: url(backgroundImage.JPG);
    background-size: cover;
}
.main-content{
    margin: 0 4%;
    max-width: 500px;
}
.main span,.section-about span{
    color: #009522;
    font-size: 20px;
}
.main h1{
    font-size: 45px;
    color: white;
}
.main p{
    color: #fbfbfb;
}
.main .buttonLink{
    padding: 10px 15px;
    color: white;
    background-color: #009522;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.container-section-title i,.icon{
    font-size: 35px;
}

.section-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-before{
    position: relative;
}
.image-before::before{
    content: "";
    position: absolute;
    background: #009522;
    width: 50%;
    min-height: 50%;
    z-index: -1;
    top: -12px;
    left: 0;
}
.container-service{
    background-color: #094386;
    color: white;

}
.text-break-all
{
    word-break: break-all;
}
.service-content,.section-our-team .row{
    gap: 20px;
}
.service-content > *, .section-our-team .row > *,.container-section-title .row >*{
    flex-basis: 230px;
}

.section-our-team{
    background-color: #dcecff;
}
.section-our-team .col:nth-child(1) span,.contact-us > span{
    color: #009522;
font-size: 17px;
font-weight: bold;
}
.section-our-team .img{
    max-width: 240px;
    height: 250px;
    position: relative;
    z-index: 1;
}
.section-our-team img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section-our-team .row .col:nth-child(2) .img::before{
    content: "";
position: absolute;
width: 50%;
height: 50%;
z-index: -1;
background: #094386;
top: -7px;
left: -7px;
}
.section-our-team .row .col:last-child .img::before{
    content: "";
position: absolute;
width: 50%;
height: 50%;
z-index: -1;
background: #094386;
bottom: -7px;
right: -7px;
}
footer{
background-image: linear-gradient(#000a55bd,#000000 ),url(footerImg.jpg);
} 